{% extends '::base.html.twig' %}

{% block body %}
    <div class="jumbotron" style="margin-top: 40px">
        <h1>Une erreur liée à l'upload est survenue</h1>
        <p>Un respo web est sur le coup...</p>
        <p class="hidden-xs">
            <a class="btn btn-primary btn-lg" href="{{ path('snap_me_upload_homepage') }}">Le frapper pour aller plus vite</a>
            <a class="btn btn-default btn-lg" href="{{ path('snap_me_upload_homepage') }}">L'insulter de tous les noms</a>
        </p>
        <p class="visible-xs-block">
            <a class="btn btn-primary btn-lg btn-block" href="{{ path('snap_me_upload_homepage') }}">Le frapper pour aller plus vite</a><br>
            <a class="btn btn-default btn-lg btn-block" href="{{ path('snap_me_upload_homepage') }}">L'insulter de tous les noms</a>
        </p>
    </div>
{% endblock %}