{% extends '::base.html.twig' %}

{% block title 'SnapMe' %}
{% block description 'Liste des photos uploadées' %}

{% block body %}
    <div class="col-sm-12">
        <h1 id="name">{{ block('description') }}</h1>
        </br>
        {% for image in images %}
  		<p>
  		    <img class="img-thumbnail" src="{{ asset('uploads/' ~ image) }}" width="300" height="200"/><br>
            
            <a href="{{ asset('uploads/' ~ image) }}" class="btn btn-primary" role="button" download>Download</a>
            <a class="btn btn-default" href="{{ path('snap_me_upload_admin_delete_image', {imageName: image}) }}" role="button">Delete</a>
        </p>
        {% endfor %}
    </div>

{% endblock body %}
